* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.col-2{
  margin: 50px;
  padding: 0;
  height:100px;
}

.col{
  margin: 50px;
  padding: 0 auto;
}
  
 

  
  .col-5{
  margin: 30px;
  padding: 0;
  }


}

.col-md-5 {
  margin: 30px;
  padding: 0;

}